body {
  background-color: #1c1c1c;
}

p {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20;
  color: #00ff44;
}

a {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #91ffaf;
}

hr {
  border: none;
  height: 2px;
  background-image: linear-gradient(to right, #33CC33, #00FF00);
  background-size: 100% 2px;
  background-position: 0% 50%;
  animation: neon-glow 2s infinite;
}

@keyframes neon-glow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

h1 {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: bold;
  font-size: 40;
  color: #00ff44;
}

h2 {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: bold;
  font-size: 36;
  color: #00ff44;
}

h3 {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: bold;
  font-size: 32;
  color: #00ff44;
}
