body, html {
  background-color: #1c1c1c;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  cursor: url('https://adriftapp.github.io/assets/adriftmouse.png') 5 5, auto;
}

p {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20;
  color: #00ff44;
}

a {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #91ffaf;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

hr {
  border: none;
  height: 2px;
  background-image: linear-gradient(to right, #33CC33, #00FF00);
  background-size: 100% 2px;
  background-position: 0% 50%;
  animation: neon-glow 2s infinite;
}

@keyframes neon-glow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

h1 {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: bold;
  font-size: 40;
  color: #00ff44;
  width: 100%;
}

h2 {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: bold;
  font-size: 36;
  color: #00ff44;
}

h3 {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: bold;
  font-size: 32;
  color: #00ff44;
}

iframe {
  display: block;
  width: 100%;
  height: 100vh; /* Use viewport height to fill the screen */
  border: none;
  margin: 0;
  padding: 0;
}

.pixel-button {
  /* Retro and pixel style with neon green theme */
  font-family: 'Press Start 2P', sans-serif;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #33CC33; /* Neon green border */
  border-radius: 5px;
  background-color: #33FF33; /* Neon green background */
  color: #000; /* Black text */
  cursor: pointer;
  
  /* Center the button horizontally */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* Set a maximum width */
  max-width: 250px;
}

.pixel-button:hover {
  /* Cool hover effects with neon green glow */
  animation: pulse 1s infinite;
  box-shadow: 0 0 10px #33FF33; /* Neon green glow */
  transform: none; /* Prevent jumping */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}


.trigger-modal {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #000000;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.modal-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.modal-content li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.modal-content li a {
  color: #6ed486;
  text-decoration: none;
}

.modal-content li a:hover {
    color: #82ff9f;
}

.centredtext {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
