body {
  background-color: #1c1c1c;
}

p {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20;
  color: #00ff44;
}

a {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #91ffaf;
}

hr {
  border: none;
  height: 2px;
  background-image: linear-gradient(to right, #33CC33, #00FF00);
  background-size: 100% 2px;
  background-position: 0% 50%;
  animation: neon-glow 2s infinite;
}

@keyframes neon-glow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

h1 {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: bold;
  font-size: 40;
  color: #00ff44;
}

h2 {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: bold;
  font-size: 36;
  color: #00ff44;
}

h3 {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: bold;
  font-size: 32;
  color: #00ff44;
}

.pixel-button {
  /* Retro and pixel style with neon green theme */
  font-family: 'Pixel', sans-serif;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #33CC33; /* Neon green border */
  border-radius: 5px;
  background-color: #33FF33; /* Neon green background */
  color: #000; /* Black text */
  cursor: pointer;
  
  /* Center the button using flexbox */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pixel-button:hover {
  /* Cool hover effects with neon green glow */
  animation: pulse 1s infinite;
  box-shadow: 0 0 10px #33FF33; /* Neon green glow */
  transform: none; /* Prevent jumping */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
