<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="modal" id="version-modal">
      <div class="modal-content">
        <h2>Select Version</h2>
        <ul>
          <li><a href="https://adriftapp.github.io/builds/alpha1-0/index.html">Alpha 1.0</a></li>
          <li><a href="https://adriftapp.github.io/builds/alpha1-1.html">Alpha 1.1</a></li>
          <li><a href="https://adriftapp.github.io/builds/alpha1-2.html">Alpha 1.2</a></li>
        </ul>
      </div>
    </div>

    <main>
      {{ content }}
    </main>

    <script src="https://adriftapp.github.io/assets/js/main.js"></script>
    
  </body>
  
</html>
